@{
    Layout = "/Views/Shared/SecondLayout.cshtml";

}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <h3>Добро пожаловать в <strong>@ViewBag.Store.Name</strong></h3>
            <h1>Онлайн магазин</h1>
            <h2>Закажите товары не выходя из дома</h2>
            <a href="#portfolio" class="btn-get-started scrollto">Начать</a>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Товары</h2>
                </div>

                <div class="row portfolio-container">

                    @foreach (Product item in ViewBag.Products)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            @if (@item.ProductImages.FirstOrDefault() != null)
                            {
                                <img src="~/@item.ProductImages.FirstOrDefault().Path" class="img-fluid" alt="">
                            }
                            <div class="portfolio-info">
                                <h4>@item.Name</h4>
                                <p>@item.Price</p>
                                <div class="d-flex">
                                    <a href="/Details/@item.Id" class="btn btn-sm btn-light m-2">Посмотреть</a>
                                    <button type="button" onclick="addToCart(@item.Id, '@item.Name', '@item.Price')" class="addToCart btn btn-sm btn-light m-2">Добавить в корзину</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </section><!-- End Portfolio Section -->

    </main><!-- End #main -->
    







