@model IEnumerable<EsepteStores.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<br />
<a asp-action="Index" asp-controller="Home" class="p-1"><i class="fas fa-long-arrow-alt-left fa-lg btn btn-primary"></i></a>
<br />
<br />

<h1>Заказы клиентов</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
@*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th></th>
        </tr>
    </thead>*@
@foreach (var item in Model)
{
    <table class="table">
        <tbody>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.IsDelivered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelivered)
                    <a href="/Orders/Edit/@item.Id" class="p-2">Изменить</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
}
